<c-vars field full />

<div class="mb-4">
  <label for="{{ field.id_for_label }}" class="block {% if full %} w-full {% endif%} mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
  {{ field }}
  <!-- -->
  {% if field.errors %}
    <p class="text-red-500">
      {{ field.errors }}
    </p>
  {% endif %}
  <!-- -->
  {% if field.help_text %}
    <p class="text-sm text-gray-400" id="{{ field.auto_id }}_helptext">
      {{ field.help_text|safe }}
    </p>
  {% endif %}
  <!-- -->
</div>
